<div>
    <h1 class="text-style">Ruta gastronómica Manchega</h1>
    <div class="flex-row">
        <div>
            <img src="https://s3-eu-west-1.amazonaws.com/gr-cms/media/filer_public/55/43/55435698-e8c2-4c86-980b-b306d8362f55/1.jpg"
                alt="Photo">

        </div>
        <div>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                dolore
                magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                qui in
                ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
                nulla pariatur?

            </p>
            <p>
                <mat-icon aria-label="" style="color: yellow;">grade</mat-icon>
                <mat-icon aria-label="" style="color: yellow;">grade</mat-icon>
                <mat-icon aria-label="" style="color: yellow;">grade</mat-icon>
            </p>
            <p>
                <span matPrefix>€&nbsp;</span>
                <mat-label>80</mat-label>
                <span matSuffix>.00</span>
            </p>
        </div>


    </div>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Recomendador por</mat-card-title>
            <mat-card-subtitle>oscarjj </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <button mat-raised-button color="primary">Atrás</button>
    <button mat-raised-button color="accent">Reservar</button>
    <app-review></app-review>
</div>