<div>
    <h1 class="text-style">{{exp.name}}</h1>
    <button mat-raised-button color="primary" [routerLink]="'/to/index'">Atrás</button>
    <button mat-raised-button color="accent">Reservar</button>
    <div class="flex-row">
        <div>
            <img src="{{exp.photo}}" alt="Photo">
            <p>{{exp.province}}</p>
        </div>
        <div>
            <p>
                {{exp.description}}

            </p>
            <p>
                <mat-icon aria-label="" style="color: yellow;" *ngFor='let number of getRate(exp.rate)'>grade</mat-icon>
            </p>
            <p>
                <span matPrefix>€&nbsp;</span>
                <mat-label>{{exp.price}}</mat-label>
                <span matSuffix>.00</span>
            </p>
        </div>
    </div>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Recomendador por</mat-card-title>
            <mat-card-subtitle>{{exp.userID}} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <app-review></app-review>
</div>