<div>
    <mat-card id="card-container">
        <mat-card-header class="center">
            <mat-card-title class="text-style experience-style">Mis Experiencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion *ngFor='let exp of this.experiences'>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="experience-title">
                            <a class="experience-link" [routerLink]="['/to/view_experience',exp.id]"> {{exp.name}}</a>
                        </mat-panel-title>
                        <mat-panel-description class="reviews">
                            Reviews
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <button mat-button>
                            <mat-icon>visibility</mat-icon> {{getReviewInExperience(exp.id)}} reviews
                        </button>
                    </div>
                    <!--COMMENTS-->
                    <mat-card *ngFor='let rev of getReviewExperience(exp)' class="list-reviews">
                        <mat-card-header>
                            <mat-card-subtitle>{{rev.userID}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="justify">
                                {{rev.comment}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>