<div>
    <mat-card>
        <mat-card-header class="center">
            <mat-card-title class="text-style experience-style">Mis Experiencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Ruta gastronómica manchega</mat-card-title>
                    <mat-card-subtitle>
                        <button mat-button (click)='openDialog()'>
                            <mat-icon>visibility</mat-icon> 10k reviews
                        </button>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Hitos culturales manchegos</mat-card-title>
                    <mat-card-subtitle><button mat-button (click)='openDialog()'>
                            <mat-icon>visibility</mat-icon> 30k reviews
                        </button>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>La Habana, ese gran misterio</mat-card-title>
                    <mat-card-subtitle>
                        <button mat-button (click)='openDialog()'>
                            <mat-icon>visibility</mat-icon> 15k reviews
                        </button>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>