<div>
    <h1 class="text-style">Publicaciones</h1>
    <mat-card *ngFor="let exp of getExperiences()">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{exp.name}}</mat-card-title>
            <mat-card-subtitle>{{exp.province}} </mat-card-subtitle>
        </mat-card-header>
        <div class="card-content-flex">
            <img src={{exp.photo}} alt="Photo">
            <div>
                <p>
                    {{exp.description}}
                </p>
                <p>
                    <span matPrefix>€&nbsp;</span>
                    <mat-label>{{exp.price}}</mat-label>
                    <span matSuffix>.00</span>
                </p>
                <p>
                    <button mat-button>
                        <mat-icon>visibility</mat-icon> 10k reviews
                    </button>
                    <mat-icon aria-label="" style="color: yellow;">grade</mat-icon>
                    <mat-icon aria-label="" style="color: yellow;">grade</mat-icon>
                    <mat-icon aria-label="" style="color: yellow;">grade</mat-icon>
                    <button mat-raised-button color="primary">Ver</button>
                </p>
            </div>
        </div>
    </mat-card>

</div>