<div layout="row" layout-xs="column">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Ruta Gastronómica</mat-card-title>
            <mat-card-subtitle>La Mancha</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://d12z4gz8sifrx.cloudfront.net/sites/default/files/castilla-la-mancha_0.jpg"
            alt="Photo of La Mancha">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <p>
                <span matPrefix>$&nbsp;</span>
                <mat-label>80</mat-label>
                <span matSuffix>.00</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
<div layout="row" layout-xs="column">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Paseo por el Caso Histórico</mat-card-title>
            <mat-card-subtitle>La Habana, Cuba</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.ahstatic.com/photos/b361_ho_00_p_1024x768.jpg" alt="Paseo del Prado">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <p>
                <span matPrefix>$&nbsp;</span>
                <mat-label>40</mat-label>
                <span matSuffix>.00</span>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
<!-- <body>
    <header>
        <div class="header centrar-texto">
            <h1>Busque su próximo destino</h1>
            <button class="button">Cerrar Sesión</button>
        </div>
    </header>

    <form class="search" action="#">
        <label for="nextsearch">Next Search</label>
        <input type="search" id="nextsearch" name="nextsearch" placeholder="Introduce tu búsqueda">
        <input type="submit" value="Buscar">
    </form>
</body> -->