:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  //margin: 100px 0;
}

.bold {
  font-weight: 600;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.chip-filter {
  margin-bottom: 5px;
}

.header-image {
  background-size: cover;
}

.card-content-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-content-flex>* {
  flex: 1;
  margin-left: 1%;
}

.card-content-flex>img {
  max-width: 300px;
  height: 150px;
}

.description {
  text-align: justify;
}

.experience-attr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media(min-width: 768px) {
  .experience-attr {
    justify-content: space-between;
  }
}
@media(min-width: 900px) {
  .experience-attr {
    justify-content: flex-start;
    margin: 1rem;
  }
}

.view-button {
  margin-left: 1rem;
}

@media(max-width: 768px) {
  .card-content-flex {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .card-content-flex>* {
    flex: none;
    margin-left: 1%;
    margin-bottom: 2%;
  }
  
  .card-content-flex>img {
    max-width: 41.5rem;
    height: 15rem;
  }
}

@media(max-width: 492px) {  
  .card-content-flex>img {
    max-width: 25.5rem;
    height: 13rem;
  }

  .experience-attr {
    justify-content: center;
    flex-wrap: wrap;
  }

  .attr {
    flex: 0 0 calc(50% - 1rem);
  }

  .stars {
    margin-left: -2%;
  }

  .view-button {
    margin-left: 0;
  }
}

.new-experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media(min-width: 768px) {  
  .new-attr {
    flex: 0 0 calc(50% - 1rem);
  }
}

.input-photo {
  margin-bottom: 0.7rem;
}

mat-card {
  margin-top: 1rem;
  margin-bottom: 1.5%;
  border-color: #242B45;
  border-style: solid;
  border-width: 0.06rem;
}

@media(max-width: 380px) {
  mat-expansion-panel-header {
    padding: 0 9px;
  }

  .new-experience-content {
    margin-left: -0.9rem;
  }
}
