<div class="row-flex">
    <div class="title-box">
        <h2>NextAdventure</h2>
    </div>
    <mat-card class="box">
        <mat-card-title class="header-box">Login</mat-card-title>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput required placeholder="Ingrese su usuario">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput required [type]="hide ? 'password' : 'text'"
                            placeholder="Ingrese su contraseña">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary">Enviar</button>
                <p>¿Aún no estás registrado?</p>
                <button mat-raised-button color="accent" type="button" routerLink="/signup">Regístrate</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>