<body>
    <header>
        <h1 class="header centrar-texto">Login</h1>
    </header>

    <div class="formulario centrar-texto">
        <div class="form-text">
            <label for="nombre">Usuario</label>
            <input type="text" id="nombre" placeholder="Introduce tu usuario">
        </div>
        <div class="form-text">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Introduce tu contraseña">
        </div>

        <button class="btn-enviar" value="enviar">Envíar</button>
        
        <div class="registrar">
            <p>¿Aún no te has registrado?</p>
            <button class="btn-registrar" value="registrar">Regístrate</button>
        </div>
    </div>
</body>