<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/profile">
        <mat-icon aria-label="">portrait</mat-icon>
        Tu Perfil
      </a>
      <a mat-list-item href="/experience">
        <mat-icon aria-label="">import_contacts</mat-icon>
        Mis Experiencias
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">
        <mat-icon aria-label="">help_outline</mat-icon>
        Ayuda
      </a>
      <a mat-list-item href="#">
        <mat-icon aria-label="">exit_to_app</mat-icon>
        Cerrar sesión
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="(isHandset$ | async) === false"><a [routerLink]="'/index'"> NextAdventure
        </a></span>
      <!-- <mat-form-field class="example-full-width" fill='outline'>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" placeholder="Buscar" class="search-input">
      </mat-form-field> -->
      <form class="form-search" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
        <input matInput type="search" placeholder="Buscar" class="search-input">
        <!-- <button mat-button>
          <mat-icon matSuffix>search</mat-icon>
        </button> -->
      </form>
      <button mat-button (click)="filterCollapse()">
        <mat-icon>tune</mat-icon>
      </button>

      <div *ngIf="(isHandset$ | async) === false">
        <a mat-button [routerLink]="'/experience'"> Mis Experiencias </a>
        <button mat-button [matMenuTriggerFor]="user">
          <mat-icon aria-label="">account_circle</mat-icon>
        </button>
        <mat-menu #user="matMenu">
          <button mat-menu-item [routerLink]="'/profile'">Tu perfil</button>
          <button mat-menu-item [routerLink]="'/login'">Cerrar sesión</button>
        </mat-menu>
        <a mat-button [routerLink]="'/help'">
          <mat-icon aria-label="">help_outline</mat-icon>
        </a>
      </div>
    </mat-toolbar>

    <div id="filter-component">
      <app-filter></app-filter>
    </div>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>