<div id="form-filter">
    <mat-form-field>
        <mat-label>Precio Min.</mat-label>
        <input matInput type="number" min="10" #myInputMin (change)='getMinPriceEvent(myInputMin.value)'>
        <span matSuffix>€</span>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Precio Máx.</mat-label>
        <input matInput type="number" min="100" #myInputMax (change)='getMaxPriceEvent(myInputMax.value)'>
        <span matSuffix>€</span>
    </mat-form-field>
    <p class="title-type">Tipo de experiencia:</p>
    <div class="btn-filter">
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.naturaleza)'>
            <mat-icon aria-label="">eco</mat-icon>
            <span class="tooltiptext">Naturaleza</span>
        </button>
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.playa)'>
            <mat-icon aria-label="">pool</mat-icon>
            <span class="tooltiptext">Playa</span>
        </button>
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.bar)'>
            <mat-icon aria-label="">local_bar</mat-icon>
            <span class="tooltiptext">Bar</span>
        </button>
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.gastronomia)'>
            <mat-icon aria-label="">restaurant</mat-icon>
            <span class="tooltiptext">Gastronomía</span>
        </button>
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.deportes)'>
            <mat-icon aria-label="">sports_basketball</mat-icon>
            <span class="tooltiptext">Deportes</span>
        </button>
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.cultura)'>
            <mat-icon aria-label="">palette</mat-icon>
            <span class="tooltiptext">Cultura</span>
        </button>
        <button class="tooltip" mat-raised-button color="primary" (click)='this.onSelectExperience(typesExperiences.musica)'>
            <mat-icon aria-label="">music_note</mat-icon>
            <span class="tooltiptext">Música</span>
        </button>
    </div>
</div>