mat-accordion {
  min-width: 300px;
  max-width: 400px;
}

.mat-expansion-panel-header {
  float: right;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

<<<<<<< HEAD
.form-filter {
  margin: 1% 2%;
}

mat-form-field {
  margin: 1% 1% 0 1%;
}

.title-type {
  margin-left: 1%;
=======
#form-filter {
  margin: 1%;
>>>>>>> 98b81720dca7f37ec811840a98383aa7b3392a59
}

.btn-filter>button {
  margin: .5%;
}