// COLORS
$navbar-color: #453534;
$bg-color: #ffffff;
$bg-btn: #C49860;

//FONTS
$font-color: #000000;
$font-size: 14px;

// UTILIDADES
.centrar-texto {
  text-align: center;
}

// BODY
body {
  display: grid;
  margin: -8px -8px 0 -8px;
  background-color: $bg-color;
}
