<div class="container-flex">
    <div class="header">
        <h1 class="text-style">Tu Perfil</h1>
    </div>

    <div class="container-row-flex">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput value="{{user.name}}">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput value="{{user.surname}}">
            </mat-form-field>
        </div>
        <img class="img-profile" src="{{user.photo}}">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput value="{{user.userID}}">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput value="{{user.email}}" type="email">
            </mat-form-field>
        </div>
    </div>
    <br>
    <div class="user-info">
        <div class="points-role">Puntos de experiencia: {{this.totalPoints }} exp</div>
        <!--{{user.points}}-->
        <div class="points-role">Perfil: {{user.rol}}</div>
    </div>
    <div class="row-flex-milestones">
        <div *ngFor='let milestone of this.milestones'>
            {{milestone.name}} ({{this.getPoint(milestone.id)}}/{{milestone.points}})
            <mat-progress-bar mode="determinate" value="{{this.getPorcent(this.userMiles, milestone.points)}}">
            </mat-progress-bar>
        </div>
    </div>
    <br>
    <div class="experiences-margin">
        <app-experience></app-experience>
    </div>
</div>