.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: center;
}

.container-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row-flex-milestones {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-top: 1rem;
  margin: 1% 5%;
}

.row-flex-milestones>* {
  //flex: 1;
  margin: 2%;
  flex: 1 0 calc(33.333% - 20px);
}

.img-profile {
  max-width: 305px;
  max-height: 205px;
  border-color: #C49860;
  border-style: solid;
  border-radius: 50px;
}

.user-info {
  display: grid;
  justify-content: center;
  margin: 1% 35%;
  border-color: #C49860;
  border-style: solid;
  border-radius: 50px;
}

.points-role {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.mat-progress-bar {
  max-height: 20px;
  height: 20px;
}

.experiences-margin {
  margin: -2% 7% 2% 7%;
}

@media(max-width: 1000px) {
  .user-info {
    margin: 1% 32%;
  }
}

@media(max-width: 768px) {
  .container-row-flex {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  .container-row-flex div {
    display: flex;
    flex-direction: column;
  }

  .container-row-flex img {
    margin-bottom: 1rem;
  }

  .row-flex-milestones {
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
  }

  .user-info {
    margin: 1% 20%;
  }

  .experiences-margin {
    margin: auto;
  }
}

@media(max-width: 492px) {
  .user-info {
    margin: 1% 10%;
  }
}
