/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color: #242B45;
$secondary-color: #cd5c5c;
$bg-color: #ffffff;
$bg-btn: #C49860;
$success: green;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-style {
  font-family: 'Sofia';
}

@media(max-width: 768px) {
  .text-style {
    display: flex;
    justify-content: center;
  }
}

.bg-body {
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-image: url("/assets/img/paper_plane_takeoff.jpg");
}

@media(max-width: 1024px) {
  .bg-body {
    background-size: inherit;
  }
}

*[color="accent"] {
  background-color: $secondary-color !important;
}

*[color="primary"] {
  background-color: $primary-color !important;
}

button:disabled {
  background-color: #80808082 !important;
  color: #000000a6 !important;
}

/*TEST*/
.snackbar {
  width: 200px;
  padding: 20px;
  position: fixed;
  left: 50%;
  margin-left: -120px;
  top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: $success;
  color: white;
  margin-top: -100%;
  transition: all 0.2s;
}

.snackbar.active {
  margin-top: 0;
  z-index: 1000;
}
