<div class="row-flex">
    <mat-card class="box">
        <mat-card-title class="header-box">Registro</mat-card-title>
        <mat-card-content>
            <form class="form-row" [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit(signupForm.value)">
                <p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Ingrese su nombre" formControlName="name">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.name">
                        <mat-error
                            *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                </p>
                <p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Apellidos</mat-label>
                        <input matInput placeholder="Ingrese sus apellidos" formControlName="surname">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.surname">
                        <mat-error
                            *ngIf="signupForm.get('surname').hasError(validation.type) && (signupForm.get('surname').dirty || signupForm.get('surname').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                </p>
                <p style="flex: 1 100%;">
                    <mat-form-field appearance="outline">
                        <mat-label>E-Mail</mat-label>
                        <input matInput type="email" placeholder="pat@example.com" formControlName="email">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <mat-error
                            *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                </p>
                <p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Ingrese su usuario" formControlName="user">
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.user">
                        <mat-error
                            *ngIf="signupForm.get('user').hasError(validation.type) && (signupForm.get('user').dirty || signupForm.get('user').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña"
                            formControlName="password">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <mat-error
                            *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                </p>
                <p style="flex: 1 100%;">
                    <mat-radio-group formControlName="usertype">
                        <mat-radio-button value="turista">Turista</mat-radio-button>
                        <mat-radio-button value="aventurero">Aventurero</mat-radio-button>
                    </mat-radio-group>
                    <ng-container *ngFor="let validation of validation_messages.usertype">
                        <mat-error
                            *ngIf="signupForm.get('usertype').hasError(validation.type) && (signupForm.get('usertype').dirty || signupForm.get('usertype').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                </p>
                <button class="btn-primary" mat-raised-button color="accent" type="button"
                    routerLink="/login">Atrás</button>
                <button class="btn-primary" mat-raised-button color="primary" type="submit"
                    [disabled]="!signupForm.valid">Enviar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!-- <div>
    <mat-card>
        <mat-card-title>Regístrate</mat-card-title>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput required placeholder="Ingrese su usuario" value="">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput required [type]="hide ? 'password' : 'text'"
                            placeholder="Ingrese su contraseña">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>E-Mail</mat-label>
                        <input matInput required type="email" placeholder="pat@example.com">
                    </mat-form-field>
                </p>

                <mat-radio-group required>
                    <mat-radio-button value="turista">Turista</mat-radio-button>
                    <mat-radio-button value="aventurero">Aventurero</mat-radio-button>
                </mat-radio-group>

                <button class="btn-primary" mat-raised-button color="primary">Enviar</button>
                <button class="btn-primary" mat-raised-button color="accent" type="button"
                    routerLink="/login">Atrás</button>
            </form>
        </mat-card-content>
    </mat-card>
</div> -->
<!-- <body>
    <header>
        <h1 class="header centrar-texto">Registro</h1>
    </header>

    <div class="formulario centrar-texto">
        <div class="form-text">
            <label for="nombre">Usuario</label>
            <input type="text" id="nombre" placeholder="Introduce tu usuario">
        </div>
        <div class="form-text">
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Introduce tu contraseña">
        </div>
        <div class="form-text">
            <label for="email">E-Mail</label>
            <input type="email" id="email" placeholder="Introduce tu e-mail">
        </div>
        <div class="form-text">
            <label for="radio-btn">Tipo de Usuario</label>

            <input type="radio" id="turista" name="viajeros" value="turista">
            <label class="user-label" for="turista">Turista</label>

            <input type="radio" id="aventurero" name="viajeros" value="aventurero">
            <label class="user-label" for="aventurero">Aventurero</label>
        </div>

        <button class="btn-registrar" value="enviar">Registrarse</button>
        <div class="volver">
            <button class="btn-volver"> < Volver</button>
        </div>
    </div>
</body> -->