@import "../login//login.component.scss";

mat-radio-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #4d4d4d;
}

.btn-primary {
  margin-top: 1rem;
}

//redefiniendo los del login
.box {
  max-width: 800px;
  height: 100%;
}
@media(max-width: 350px) {
  .box {
    margin-top: 0rem;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.form-row p,
button {
  margin: 1%;
  flex: 1;
}

.row-flex {
  justify-content: center;
}
@media(max-width: 400px) {
  .row-flex {
    margin-right: 0rem;
  }
}

mat-error {
  font-size: 12px;
}
