<div class="row-flex">
    <mat-card class="box">
        <mat-card-title class="header-box">Registro</mat-card-title>
        <mat-card-content>
            <form class="form-row" [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit(signupForm.value)">
                <p>
                    <ng-container *ngFor="let validation of validation_messages.name">
                        <mat-error
                            *ngIf="signupForm.get('name').hasError(validation.type) && (signupForm.get('name').dirty || signupForm.get('name').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Ingrese su nombre" formControlName="name">
                    </mat-form-field>
                </p>
                <p>
                    <ng-container *ngFor="let validation of validation_messages.surname">
                        <mat-error
                            *ngIf="signupForm.get('surname').hasError(validation.type) && (signupForm.get('surname').dirty || signupForm.get('surname').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Apellidos</mat-label>
                        <input matInput placeholder="Ingrese sus apellidos" formControlName="surname">
                    </mat-form-field>
                </p>
                <p style="flex: 1 100%;">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <mat-error
                            *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                    <mat-form-field appearance="outline">
                        <mat-label>E-Mail</mat-label>
                        <input matInput type="email" placeholder="example@domain.com" formControlName="email">
                    </mat-form-field>
                </p>
                <p>
                    <ng-container *ngFor="let validation of validation_messages.userID">
                        <mat-error
                            *ngIf="signupForm.get('userID').hasError(validation.type) && (signupForm.get('userID').dirty || signupForm.get('userID').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Ingrese su nombre de usuario" formControlName="userID">
                    </mat-form-field>
                </p>
                <p>
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <mat-error
                            *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña"
                            formControlName="password">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </p>
                <p style="flex: 1 100%;">
                    <ng-container *ngFor="let validation of validation_messages.rol">
                        <mat-error
                            *ngIf="signupForm.get('rol').hasError(validation.type) && (signupForm.get('rol').dirty || signupForm.get('rol').touched)">
                            {{validation.message}}</mat-error>
                    </ng-container>
                    <mat-radio-group formControlName="rol">
                        <mat-radio-button value="Turista">Turista</mat-radio-button>
                        <mat-radio-button value="Aventurero">Aventurero</mat-radio-button>
                    </mat-radio-group>
                </p>
                <button class="btn-primary" mat-raised-button color="accent" type="button"
                    routerLink="/login">Atrás</button>
                <button class="btn-primary" mat-raised-button color="primary" type="submit"
                    [disabled]="!signupForm.valid">Enviar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>